body {
  padding: 0px;
  margin: 0px;
  background-color: #fafafa;
  font-family: "Roboto Mono", monospace; }

.no-gutters {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.fondo {
  width: 100%;
  height: 100vh; }

.img-fondo-portada {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../img/la-tierra.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover; }

.menu {
  font-family: "Roboto Mono", monospace;
  position: relative;
  color: #fafafa;
  font-size: 1rem;
  transition: 3s; }
  .menu i {
    cursor: pointer;
    color: #a0a0a0;
    padding: 10px;
    margin: 0px 30px 0px 30px;
    width: 44px;
    height: 44px;
    border: none;
    font-size: 2.8rem; }
    .menu i:hover {
      transition: 900ms;
      transform: scale(1.3, 1.3);
      color: white; }

.text-menu {
  font-family: "Roboto Mono", monospace;
  position: relative;
  color: #fafafa;
  text-align: center; }
  .text-menu p {
    font-weight: 600;
    font-size: 4rem;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.6);
    transition: 3s; }
  .text-menu .flechitas {
    cursor: pointer;
    font-size: 2.5rem;
    align-self: flex-end;
    color: rgba(255, 255, 255, 0.3);
    transition: 3s; }
    .text-menu .flechitas i:hover {
      transition: 1s;
      transform: scale(1.3, 1.3);
      color: white; }

.card-sobre-mi {
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }

.foto-sobre-mi {
  text-align: center; }

.foto-sobre-mi img {
  border-radius: 50%;
  border: 1px solid #a0a0a0;
  overflow: hidden; }

.btn-curriculum {
  padding: 8px;
  border: none;
  border-radius: 50px;
  border: 1px solid #a0a0a0;
  background-color: white; }
  .btn-curriculum:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .btn-curriculum i {
    margin-right: 10px; }

.buttons-curriculum {
  display: flex;
  align-items: center; }

.buttons-redes {
  display: flex;
  margin-left: 10px; }
  .buttons-redes button {
    margin: 20px 8px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    transition: opacity 0.4s;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none; }
    .buttons-redes button:hover {
      opacity: 0.6; }

.section-tecnologias {
  display: flex;
  justify-content: center; }
  .section-tecnologias .card-tecnologias {
    padding: 10px;
    max-width: 145px;
    margin: 15px; }
    .section-tecnologias .card-tecnologias:hover {
      background-color: rgba(0, 0, 0, 0.1); }

.angle-up {
  text-align: end; }
  .angle-up i {
    color: #bebebe;
    font-size: 2.8rem;
    position: fixed;
    bottom: 20px;
    right: 10px; }
    .angle-up i:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1); }

.title-proyectos {
  padding: 5px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 150px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 1px solid #a0a0a0; }

.section-proyectos {
  display: flex;
  justify-content: center; }
  .section-proyectos .card-proyectos {
    padding: 10px;
    margin: 15px;
    max-width: 500px;
    max-height: 450px; }
  .section-proyectos .card-title {
    font-size: 1.5rem;
    font-weight: 550; }

.button-proyectos {
  width: 70px;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 180px;
  background-color: transparent;
  border: 1px solid #a0a0a0;
  border-radius: 30px; }
  .button-proyectos:hover {
    color: black;
    background-color: rgba(160, 160, 160, 0.7); }

.carousel-inner {
  width: 80rem;
  margin-left: auto;
  margin-right: auto; }

.carousel-certificados {
  height: 380px;
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: rgba(160, 160, 160, 0.45); }
  .carousel-certificados img {
    margin-top: 28px;
    height: 300px; }

.section-contacto {
  background: linear-gradient(90deg white 45%, #a0a0a0 100%);
  height: 500px;
  padding: 0px; }
  .section-contacto form {
    width: 600px;
    padding: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto; }
  .section-contacto label i {
    padding: 5px;
    font-size: 1.3rem; }
  .section-contacto .form-group {
    margin-bottom: 20px; }

.copyright {
  display: flex;
  text-align: center;
  background-color: #a0a0a0;
  height: 90px; }
  .copyright p {
    padding: 10px;
    border-top: 1px solid white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    align-self: center; }

button.github {
  background-color: #24292e; }

button.linkedin {
  background-color: #0e76a8; }
